In [1]:
import pandas as pd

In [2]:
# dictionary를 DF 로 변환
dict_data = {'c0':[1,2,3,4,5], 'c1':[6,7,8,9,10]}
df1 = pd.DataFrame(dict_data)
print(type(df1),"\n")
print(df1, "\n")

<class 'pandas.core.frame.DataFrame'>

   c0  c1
0   1   6
1   2   7
2   3   8
3   4   9
4   5  10

In [3]:
# 행 이름 지정
df2 = pd.DataFrame(dict_data, index = ['r0','r1','r2','r3','r4'])
print(df2)

    c0  c1
r0   1   6
r1   2   7
r2   3   8
r3   4   9
r4   5  10

In [5]:
# list of list 를 DF 로 변환
list_of_list_data = [[1,2,3,4,5],[6,7,8,9,10]]
df3 = pd.DataFrame(list_of_list_data)
print(df3)

   0  1  2  3   4
0  1  2  3  4   5
1  6  7  8  9  10

In [6]:
# 행, 열 이름 지정
df4 = pd.DataFrame(list_of_list_data
                   , index=['r0','r1']
                   , columns=['c0','c1','c2','c3','c4'])
print(df4)

    c0  c1  c2  c3  c4
r0   1   2   3   4   5
r1   6   7   8   9  10

In [7]:
df2.shape

(5, 2)

In [8]:
df4.shape

(2, 5)

In [9]:
df4

    c0  c1  c2  c3  c4
r0   1   2   3   4   5
r1   6   7   8   9  10