In [1]:
import pandas as pd

In [2]:
# 015 에 저장한 csv 파일 지정
csv_file = '../data/bok_statistics_CD수익률.csv'

In [4]:
# read_csv() 함수로 데이터프레임 변환
df1 = pd.read_csv(csv_file)
df1

         2013   2.72   -0.58
0        2014   2.49   -0.23
1        2015   1.76   -0.73
2        2016   1.49   -0.27
3        2017   1.44   -0.05
4        2018   1.68    0.24
5        2019   1.69    0.01
6     2019.12   1.53    0.01
7      2020.1   1.47   -0.06
8      2020.2   1.42   -0.05
9      2020.3   1.23   -0.19
10     2020.4   1.10   -0.13
11     2020.5   1.02   -0.08
12     2020.6   0.79   -0.23
13  2020.6.24   0.79    0.00
14  2020.6.25   0.79    0.00
15  2020.6.26   0.79    0.00
16  2020.6.29   0.79    0.00
17  2020.6.30   0.79    0.00
18   2020.7.1   0.79    0.00

In [6]:
df2 = pd.read_csv(csv_file, header=None)
df2

            0     1     2
0        2013  2.72 -0.58
1        2014  2.49 -0.23
2        2015  1.76 -0.73
3        2016  1.49 -0.27
4        2017  1.44 -0.05
5        2018  1.68  0.24
6        2019  1.69  0.01
7     2019.12  1.53  0.01
8      2020.1  1.47 -0.06
9      2020.2  1.42 -0.05
10     2020.3  1.23 -0.19
11     2020.4  1.10 -0.13
12     2020.5  1.02 -0.08
13     2020.6  0.79 -0.23
14  2020.6.24  0.79  0.00
15  2020.6.25  0.79  0.00
16  2020.6.26  0.79  0.00
17  2020.6.29  0.79  0.00
18  2020.6.30  0.79  0.00
19   2020.7.1  0.79  0.00

In [7]:
df3 = pd.read_csv(csv_file, index_col=0)
df3

            2.72   -0.58
2013
2014        2.49   -0.23
2015        1.76   -0.73
2016        1.49   -0.27
2017        1.44   -0.05
2018        1.68    0.24
2019        1.69    0.01
2019.12     1.53    0.01
2020.1      1.47   -0.06
2020.2      1.42   -0.05
2020.3      1.23   -0.19
2020.4      1.10   -0.13
2020.5      1.02   -0.08
2020.6      0.79   -0.23
2020.6.24   0.79    0.00
2020.6.25   0.79    0.00
2020.6.26   0.79    0.00
2020.6.29   0.79    0.00
2020.6.30   0.79    0.00
2020.7.1    0.79    0.00

In [9]:
df4 = pd.read_csv(csv_file, index_col=0, header=None)
df4

              1     2
0
2013       2.72 -0.58
2014       2.49 -0.23
2015       1.76 -0.73
2016       1.49 -0.27
2017       1.44 -0.05
2018       1.68  0.24
2019       1.69  0.01
2019.12    1.53  0.01
2020.1     1.47 -0.06
2020.2     1.42 -0.05
2020.3     1.23 -0.19
2020.4     1.10 -0.13
2020.5     1.02 -0.08
2020.6     0.79 -0.23
2020.6.24  0.79  0.00
2020.6.25  0.79  0.00
2020.6.26  0.79  0.00
2020.6.29  0.79  0.00
2020.6.30  0.79  0.00
2020.7.1   0.79  0.00

In [10]:
# 014에서 다운로드 폴더에 저장한 excel 파일을 data 폴더에 이동하여 저장
excel_file = '../data/report_Key100Stat.xls'

In [11]:
# read_excel() 함수로 데이터프레임 변환
df5 = pd.read_excel(excel_file)
df5

                통계구분                    통계지표      시점         원자료   단위
0   국민소득 ? 경기 ? 기업경영    경제성장률(실질, 계절조정 전기대비)   20201        -1.3    %
1   국민소득 ? 경기 ? 기업경영  민간소비증감률(실질, 계절조정 전기대비)   20201        -6.5    %
2   국민소득 ? 경기 ? 기업경영  설비투자증감률(실질, 계절조정 전기대비)   20201         0.2    %
3   국민소득 ? 경기 ? 기업경영  건설투자증감률(실질, 계절조정 전기대비)   20201         0.5    %
4   국민소득 ? 경기 ? 기업경영           GDP(명목, 계절조정)   20201  476,805.30  십억원
..               ...                     ...     ...         ...  ...
95         경제관련 사회통계          고령인구비율(65세 이상)    2020        15.7    %
96         경제관련 사회통계                   합계출산율    2019       0.920    명
97         경제관련 사회통계                 자동차등록대수  202005  23,926,078    대
98         경제관련 사회통계                   주택보급률    2018       104.2    %
99         경제관련 사회통계                    지니계수    2018       0.345  NaN

[100 rows x 5 columns]