In [1]:
import pandas as pd

In [2]:
# dictonary를 df 로 변환
dict_data = {'c0':[1,2,3], 'c1':[4,5,6]}
df=pd.DataFrame(dict_data, index=['r0','r1','r2'])
df

    c0  c1
r0   1   4
r1   2   5
r2   3   6

In [4]:
row0=df.iloc[0]
row1=df.iloc[1]
row2=df.loc['r2']
print(row0)
print(row1)
print(row2)

c0    1
c1    4
Name: r0, dtype: int64
c0    2
c1    5
Name: r1, dtype: int64
c0    3
c1    6
Name: r2, dtype: int64

In [5]:
df.loc['r3']=10,20
df

    c0  c1
r0   1   4
r1   2   5
r2   3   6
r3  10  20

In [7]:
df.loc['r4']=0
df

    c0  c1
r0   1   4
r1   2   5
r2   3   6
r3  10  20
r4   0   0

In [8]:
df.loc['r3']=df.loc['r4']
df

    c0  c1
r0   1   4
r1   2   5
r2   3   6
r3   0   0
r4   0   0

In [9]:
df.drop('r4',axis=0,inplace=True)
df

    c0  c1
r0   1   4
r1   2   5
r2   3   6
r3   0   0

In [10]:
df.drop(['r1','r3'], axis=0, inplace=True)
df

    c0  c1
r0   1   4
r2   3   6