In [1]:
import pandas as pd

In [2]:
# dictonary를 df 로 변환
dict_data = {'c0':[1,2,3], 'c1':[4,5,6]}
df=pd.DataFrame(dict_data, index=['r0','r1','r2'])
df

    c0  c1
r0   1   4
r1   2   5
r2   3   6

In [3]:
el_01=df.iloc[0,1]
el_01

4

In [4]:
el_11=df.iloc[1,1]
el_11

5

In [5]:
el_21=df.loc['r2','c1']
el_21

6

In [7]:
el_12_01=df.loc['r1':'r2','c0':'c1']
el_12_01

    c0  c1
r1   2   5
r2   3   6

In [8]:
el_12_01_iloc=df.iloc[1:3,0:2]
el_12_01_iloc

    c0  c1
r1   2   5
r2   3   6

In [19]:
df.iloc[0,1]=40
df

    c0  c1
r0   1  40
r1   2   5
r2   3   6

In [20]:
df.iloc[1:3,0:2]=0
df

    c0  c1
r0   1  40
r1   0   0
r2   0   0